* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.menu-button {
  display: none;
}

@media (max-width: 1024px) {
  /* Show on tablet and mobile */
  .menu-button {
    display: block;
  }
}

/*  */
/*  */
.head {
  padding-inline: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding-top: 20px;
  padding-inline: 30px;
  padding-left: 50px;

  .a {
    display: flex;
    gap: 15px;
    width: auto;
    font-size: 24px;
    line-height: 38px;
    font-weight: 400;

    .resume-link {
      display: none;
    }

    a {
      color: #000000;
      padding: 10px;
    }
  }

  .logo {
    width: 150px;
  }

  .resume-button {
    border: none;
    background: transparent;
    button {
      margin-right: 20px;
      border: none;
      background: transparent;
      width: 100px;

      img {
        width: 100px;
      }
    }
  }
}
/* header contetnt css.......... */
.headMain {
  display: flex;
  justify-content: space-around;
  padding-inline: 30px;
  padding-left: 50px;
  padding-top: 40px;

  .innerPic {
    display: none;
  }

  .textCon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    .text {
      display: flex;
      flex-direction: column;

      justify-content: center;
      gap: 70px;
      width: 100%;

      .intro {
        font-size: 48px;
        line-height: 56px;
        p {
          /* color: transparent; */
          -webkit-text-stroke: 1px solid black;
        }
        /* color: transparent; */
        -webkit-text-stroke: 1px solid black;
      }

      .detail {
        font-size: 24px;
        line-height: 28px;
      }
    }
  }
  .img {
    width: 70%;

    img {
      width: 800px;
      height: 550px;
    }
  }
  .social {
    display: flex;
    justify-content: space-around;
    width: 90%;
    padding-left: 5%;

    .fb {
      background-color: #000000;
    }

    .btn {
      background-color: transparent;
    }
    button {
      padding: 15px;
      border: 1px solid black;
      align-content: center;
      img {
        width: 20px;
      }
    }
  }
}

/* Skillsss.......... */
.skillsContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 30px;

  .head {
    display: flex;
    justify-content: center;
    font-size: 36px;

    .title {
      display: flex;
      gap: 20px;
    }
  }

  .SkillBtns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    padding: 10px;
    place-items: center;

    button {
      width: 100px;
      height: 100px;
      display: flex;
      flex-direction: column;
      height: 130px;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    img {
      width: 56px;
      height: 56px;
    }

    .icon {
      background-color: #ffffff;
    }
  }
}

/* about me........... */
.abtContainer {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  /* padding-inline: 30px; */

  .img {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }

  .AbtText {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .AbtTitle {
      font-size: 46px;
      font-weight: 900;
      display: flex;
      justify-content: center;
      padding: 20px;
    }

    .AbtContext {
      font-size: 22px;
      padding-inline: 10px;
    }
  }
}

/* My Projects.................... */

.Projects {
  background-color: #000000;
  color: #ffffff;
  height: max-content;
  padding: 50px 35px;

  .ProHeading {
    display: flex;
    justify-content: center;
    padding: 60px;
    font-weight: 800;
    font-size: 38px;
  }

  .ProBody {
    padding-left: 30px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;

    .project {
      display: flex;
      flex-direction: column;
      /* justify-content: space-between; */
      gap: 100px;
    }

    .Proimg2 {
      display: flex;
      justify-content: end;
      width: 100%;

      img {
        width: 594px;
        height: 476px;
      }
    }

    .Proimg {
      width: 100%;
      display: flex;

      img {
        width: 594px;
        height: 476px;
      }
    }

    .proDetails {
      display: flex;
      flex-direction: column;
      text-align: left;
      max-width: 50%;
      gap: 20px;
      padding: 10px;
      padding-left: 20px;

      .protitle {
        font-size: 36px;
        font-weight: 600;
      }
      .prolink {
        a {
          display: flex;
          gap: 20px;
          font-size: 26px;
        }
      }

      .procontext {
        font-size: 26px;
        padding-top: 20px;
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
}

/*  */
/*  */
/* Tablet Styles (Optional - Adjust as needed) */
/*  */
/*  */
@media (min-width: 760px) and (max-width: 1024px) {
  /* Tablet Styles */
  .menu-button {
    display: block;
    background-color: transparent;
    border: none;
    width: 100px;
  }

  .head {
    /* flex-direction: column; */
    display: flex;
    justify-content: space-between;
    padding-inline: 30px;
    align-items: center;
    height: auto;
    padding: 40px;

    .logo {
      padding-left: 40%;
    }
  }

  .head img {
    width: 50px;
    /* margin-bottom: 10px; */
  }

  .head .a,
  .head button.resume-button {
    display: none;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
  }

  .head .a a,
  .head button.resume-button a {
    padding: 10px 0;
    display: block;
  }

  .head.show-menu .a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    position: absolute;

    top: 60px;
    right: 10px;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 200px;
  }

  .head.show-menu .a a.resume-link {
    justify-content: center;

    display: flex;
    img {
      width: 120px;
    }
  }

  /* header main content */

  .headMain {
    display: block;

    .img {
      display: none;
    }

    .social {
      padding: 20px;
      display: flex;
      justify-content: space-around;
    }

    .textCon {
      width: 100%;
      .text {
        .intro {
          font-size: 60px;
          display: flex;
          flex-direction: column;
          padding-top: 30px;
        }
        .detail {
          font-size: 26px;
          padding: 20px;

          p {
            padding: 50px;
          }
        }
        .innerPic {
          display: block;

          img {
            width: 500px;
          }
        }
      }
    }
  }

  /* About me section */
  .Abtdiv {
    display: flex;
    flex-direction: column;

    .AbtTitl {
      display: block;
      font-size: 46px;
      font-weight: 800;
      padding-top: 60px;
      text-align: center;
    }

    .abtContainer {
      display: flex;
      margin-top: -10px;

      .AbtText {
        .AbtTitle {
          display: none;
        }
      }

      .img {
        width: 50%;
        img {
          width: 400px;
        }
      }

      .AbtText {
        display: flex;
        justify-content: center;
        text-align: center;
        .AbtContext {
          display: flex;
          padding: 20px;
          font-size: 16px;
        }
      }
    }
  }

  /* My Projects.................... */
  .Projects {
    background-color: #000000;
    color: #ffffff;
    height: max-content;
    padding: 50px 35px;

    .ProHeading {
      display: flex;
      justify-content: center;
      padding: 60px;
      font-size: 36px;
    }

    .ProBody {
      padding-left: 30px;
      display: flex;
      justify-content: space-evenly;
      padding-top: 60px;

      .project {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        gap: 100px;
      }

      .Proimg2 {
        width: 100%;
        display: flex;

        img {
          width: 450px;
          height: 400px;
          padding: 20px;
        }
      }

      .Proimg {
        width: 100%;
        display: flex;

        img {
          width: 450px;
          height: 400px;
          padding: 20px;
        }
      }

      .proDetails {
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        text-align: left;
        max-width: 50%;
        gap: 20px;

        .protitle {
          font-size: 36px;
          font-weight: 600;
        }
        .prolink {
          a {
            display: flex;
            gap: 20px;
            font-size: 26px;
          }
        }

        .procontext {
          font-size: 20px;
          padding-top: 20px;
          text-align: left;
        }
      }
    }
  }
}

/*  */
/*  */
/* Mobile Styles */
@media (max-width: 768px) {
  .head {
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: auto;
    padding: 20px;

    .logo {
      padding-left: 20%;
    }
  }

  .head .a {
    display: none;
    flex-direction: column;
    margin-top: 10px;
  }

  .head .a a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
  }

  .head button.resume-button {
    /* Style for the resume button */
    display: none;
  }

  .menu-button {
    display: block;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    /* margin-bottom: 10px; */
    padding-left: 20%;
  }

  .menu-button img {
    width: 50px; /* Smaller menu icon */
    height: auto;
  }

  .head.show-menu .a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    position: absolute;
    top: 60px;
    right: 10px;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 200px;
  }

  .head.show-menu .a a.resume-link {
    justify-content: center;
    display: flex;
  }

  /* header main content */

  .headMain {
    display: flex;
    flex-direction: column;

    .img {
      display: none;
    }

    .textCon {
      width: 100%;
      .innerPic {
        display: block;
        padding-top: 50px;

        img {
          position: absolute;
          bottom: 10px;
          left: -20px;
          width: 400px;
          height: 300px;
        }
      }
      .detail {
        padding-top: 230px;
        padding-bottom: 40px;
      }
    }

    .social {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 20px;
      column-gap: 40px;
      place-content: center;
    }
  }
  /* skills content */
  .skillsContent {
    padding-inline: 60px;
    .SkillBtns {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 20px;
      place-content: center;
      button {
        padding: 0px;
        width: 90px;
        height: 130px;
      }
    }

    .title {
      font-size: 46px;
    }
  }

  /* about me section............................ */
  .Abtdiv {
    margin-top: 70px;
    padding-top: 30px;

    .AbtTitl {
      display: block;
      font-size: 46px;
      font-weight: 800;
      padding-top: 30px;
      text-align: center;
    }

    .abtContainer {
      flex-direction: column;
      height: auto;
      align-items: center;
      padding: 10px;
      padding-top: 60px;
      margin-top: 40px;

      .img {
        width: 80%;
        margin-top: -60px;
        img {
          width: 100%;
        }
      }

      .AbtText {
        text-align: center;
        padding: 10px;
      }

      .AbtTitle {
        p {
          display: none;
        }
      }

      .AbtContext {
        text-align: center;
        font-size: 16px;
        padding-inline: 10px;
        padding: 10px;
      }
    }
  }

  .Projects {
    background-color: #000000;
    color: #ffffff;
    height: max-content;
    padding: 50px 35px;

    .ProHeading {
      padding: 10px;
      span {
        font-weight: 100;
        font-size: 36px;
      }
      h1 {
        font-size: 36px;
      }
    }

    .ProBody {
      padding-left: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      /* padding-top: 60px; */
      padding: 0;
      width: 100%;

      .project {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        gap: 100px;
      }

      .Proimg2 {
        width: 100%;
        display: none;

        img {
          width: 150px;
          height: 200px;
          padding: 20px;
        }
      }

      .Proimg {
        width: 100%;
        display: flex;
        justify-content: space-around;

        img {
          width: 90%;
          height: 250px;
          padding: 20px;
        }
      }

      .Proimg3 {
        padding-top: 40px;
        width: 100%;
        display: flex;
        justify-content: space-around;

        img {
          width: 90%;
          height: 250px;
          padding: 20px;
        }
      }

      .proDetails {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0;
        padding-top: 30px;
        width: 100%;

        .protitle {
          text-align: center;
          font-size: 36px;
          font-weight: 600;
          width: 300px;
        }
        .prolink {
          width: 300px;

          a {
            display: flex;
            justify-content: center;
            gap: 20px;
            font-size: 26px;
          }
        }

        .procontext {
          width: 350px;
          font-size: 20px;
          padding-top: 10px;
          text-align: center;
        }
      }
    }
  }
}
